.home {
  height: 100%;
  overflow: visible;
}

.hero {
  position: relative;
  width: 100vw; 
  padding-left: 40px;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 600px;
  overflow: visible;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 35%;
}

.heroText h1 {
  color: #000;
  font-family: var(--headline-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-clip: text;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.heroImages {
  position: relative;
  overflow: hidden;
}
