.navbar { 
  position: relative;
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.logo {
  position: absolute;
  left: 40px;
  width: 64px;
  height: 54px;
}

.navLinks {
  all: unset;
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
  font-family: var(--headline-font);
  font-size: 20px;
  letter-spacing: 3%;
}

.navLinks:hover {
  cursor: pointer;
}

.active {
  font-weight: 700;
  /* border-bottom: 1px solid black; */
}