:root {
  --primary-color: #7edcb9;
  --secondary-color: #47ba90;
  --terciary-color: #2c8380;
  --contrast-color: #583b53;

  --headline-font: "Urbanist", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  font-family: var(--body-font);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
